body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 50px;       
    margin-top: 2px; 
    line-height: 1.5; 
    color: #404040;

    

}

    a{
        color: #A4A400;
    }

 h1{
        font-size: 22pt;
        text-decoration: underline;
        font-weight: bold;
    }

 h2{
        padding-top: 225px;
        font-size: 18pt;
        text-decoration: underline;
        font-weight: bold;
        
    }

    p1, p2, p3, p4 {
        font-size: 11pt;
        margin: 10px 0;
    }
